.layout-content {
    width: 100%;
    height: 100%;
    position: relative;

    &>.content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 98px 50px 83px;
        box-sizing: border-box;
    }
}