.am-modal-content {
    background-color: #2B2B2D !important;
}

html:not([data-scale]) .am-modal-button-group-v .am-modal-button::before {
    background-color: rgba(255, 255, 255, 0.07) !important;
}

html:not([data-scale]) .am-modal-button-group-v .am-modal-button.am-modal-button-active {
    background-color: rgba(255, 255, 255, 0.07) !important;
}

.am-modal-button-group-v .am-modal-button {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 16px !important;
}