@import url('~@/styles/mixin.less');

.header {
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
    font-size: 28px;

    .back-icon {
        width: 49px;
        height: 56px;
        position: absolute;
        display: block;
        left: 20px;
        top: 50%;
        .bg-image('~@/assets/images/back_icon');
        background-size: 25px 28px;
        background-repeat: no-repeat;
        background-position: center center;
        transform: translateY(-50%);
    }
}