.model-message.am-modal-transparent {
    width: 250px;
}

.message-model-content {
    .title {
        font-size: 28px;
        line-height: 40px;
        margin-top: 25px;
    }

    .time {
        font-size: 22px;
        line-height: 30px;
        margin-top: 15px;
    }

    .message-text {
        height: 192px;
        font-size: 22px;
        line-height: 48px;
        color: rgba(255, 255, 255, 0.8);
        overflow-y: auto;
        margin-top: 39px;
        margin-bottom: 30px;
    }
}