@import url('~@/styles/mixin.less');

.model-login.am-modal-transparent {
    width: 307px;
}

.model-login-info.am-modal-transparent {
    width: 300px;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .qrcode-bg {
        width: 237px;
        height: 374px;
        .bg-image('https://argrace-web.oss-cn-hangzhou.aliyuncs.com/xincheng-web/images/qrcode-bg');
        background-size: 100% 100%;
        position: relative;

        .qrcode {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 16px;
        }
    }
}

.login-info-content {

    .title {
        font-size: 28px;
        line-height: 40px;
        margin-top: 25px;
    }

    .info-list {
        margin: 49px 39px 0;

        li {
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
            line-height: 48px;
            text-align: left;
        }
    }
}