@import url('~@/styles/mixin.less');

.model-login.am-modal-transparent {
    width: 624px;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .qrcode-bg {
        width: 237px;
        height: 374px;
        .bg-image('https://argrace-web.oss-cn-hangzhou.aliyuncs.com/xincheng-web/images/qrcode-bg');
        background-size: 100% 100%;
    }
}